@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One');

h1{
  font-family: 'Fjalla One', sans-serif;
}

.container{
    margin: 0 auto;
    padding: 50px;
    width: 500px;
    height: 500px;  
    background-color: ;

}

input[type="text"]{
    height: 60px;
    width: 486px;
    font-size: 54px;
    padding: 5px;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(51, 49, 49);
    border-radius: 15px;
    border-width: 5px;
    color: aliceblue;
    
    
}



@media only screen and (max-width: 600px) {
  input[type="text"]{
    height: 40px;
    width: 208px;
    font-size: 35px;
  }
}



input[type="button"] {
    width: 119px;
    height: 102px;
    font-size: 62px;
    color: white;
    font-family: 'Anton', sans-serif;
    background-color: black;
    border-radius: 15px;
    border-width: 5px;
    


  }

  @media only screen and (max-width: 600px) {
    input[type="button"] {
        width: 50px;
        height:50px;
        font-size: 25px;
        background-color: black;
    border-radius: 8px;
    border-width: 3px;
    }
  }


  .display{
      margin: 5px;
  }

  .row1{
    margin: 5px;
  }
  .row2{
    margin: 5px;
  }
  .row3{
    margin: 5px;
  }
  .row4{
    margin: 5px;
  }